<!-- Start first-heading -->

<section class="py-5">

    <div class="container py-5">

        <hr class="mb-5">

        <div class="row justify-content-center">

            <!-- 10 columns -->
            <div class="col-12 col-lg-10">
                <div class="row">

                    <!-- Text -->
                    <div class="col-12 col-md-8">
                        <h2 class="fw-bold mb-3">
                            This First Heading
                            <span class="text-secondary fw-normal">
                                Will catch Your Eye
                            </span>
                        </h2>

                        <p class="fs-5 text-dark">
                            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis
                            euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur.
                            Fusce dapibus, tellus ac cursus commodo.
                        </p>
                    </div>

                    <!-- Image -->

                    <div class="col-12 col-md-4 d-flex justify-content-center">
                        <img src="./assets/img/1.jpg" alt="Avatar" class="img-fluid rounded-circle"
                            style="max-width: 300px;" />
                    </div>
                </div>
            </div>
        <hr class="mt-5">
        </div>
    </div>
</section>

<!-- Final first-heading -->